* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

pre{
  color:#3a2ffe;
}

.header {
  width: 100%;
  padding: 20px;
  background: #4f46e5;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background: #fff;
  color: #4f46e5;
  font-weight: bold;
  cursor: pointer;
}

.game-board {
  margin: 50px;        
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 500px;             
  max-width: 450px;
  border-style: double;
  padding: 20px;
  border-color: #7570e0;
  border-radius: 10px;
  border-width: 5px;
}


.card {
  aspect-ratio: 1 / 1;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.flip .card-inner {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.6rem;
  backface-visibility: hidden;
}


.card-front {
  background: #4f46e5;
}

.card-back {
  background: #fff;
  transform: rotateY(180deg);
  border: 2px solid #4f46e5;
}

/* Responsive */
@media (max-width: 500px) {
  .game-board {
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    width: 250px;
  }
}
